@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.container-header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--verde-escuro);
}

.head{
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 25px;
    color: white;
}

.logo-header {
    display: flex;
    height: 2rem;
    margin-right: 10px;
    width: 100%;
    background-color: white;
    padding: 6px;
    border-radius: 8px;
}

.dir-content{
    display: flex;
    align-items: center;
    margin-right: 80%;
    padding: 10px;
}