@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.container-login{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    width: 100%;
}

.card-login{
    height: 20rem;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    background-color: var(--verde-escuro);
}

.input-label{
    flex: 1;
    padding: 12px 0;
    border: none;
    outline: none;
    background: transparent;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 14px;
    font-size: 18px;
    font-weight: bold;
    background-color: var(--verde-claro);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: white;
    color: var(--verde-escuro);
}

.title{
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 50px;
}

.input-box {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    
}

.input-box .icon {
    color: var(--verde-escuro);
    font-size: 20px;
    margin-right: 10px;
}