.container-login{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

.card-login{
    height: 20rem;
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

.input-label{
    border: 0.1px;
    border-radius: 3px;
    margin: 2px;
    border-style: solid;
}