.nf-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.text-container h1,
h2 {
    font-family: 'Montserrat', sans-serif;
    color: var(--verde-escuro);
    margin: 20px 0px;

}

.text-container h1 {
    font-weight: 800;
    font-size: 65px;
}

.text-container h2 {
    font-weight: 300;
    font-size: 30px;
}

.urso img {
    width: 40rem;
}

@media (max-width: 1024px) {
    .text-container h1 {
        font-size: 50px;
    }

    .text-container h2 {
        font-size: 24px;
    }

    .urso img {
        width: 30rem;
    }
}

@media (max-width: 768px) {
    .nf-container {
        padding: 20px;
    }

    .text-container h1,
    h2 {
        margin: 15px 0px;
    }

    .text-container h1 {
        font-size: 40px;
    }

    .text-container h2 {
        font-size: 18px;
    }

    .urso img {
        width: 22rem;
    }
}

@media (max-width: 480px) {
    .nf-container {
        padding: 10px;
    }

    .text-container h1,
    h2 {
        margin: 10px 0px;
    }

    .text-container h1 {
        font-size: 28px;
    }

    .text-container h2 {
        font-size: 14px;
    }

    .urso img {
        width: 15rem;
    }
}